/services/gateway/node_modules
/services/product/node_modules
/services/gateway/public/hot
/services/product/public/hot
/services/gateway/public/storage
/services/product/public/storage
/services/gateway/storage/*.key
/services/product/storage/*.key
/services/gateway/vendor
/services/product/vendor
/services/gateway/.env
/services/product/.env
/services/gateway/.env.backup
/services/product/.env.backup
/services/gateway/.phpunit.result.cache
/services/product/.phpunit.result.cache
/services/gateway/docker-compose.override.yml
/services/product/docker-compose.override.yml
/services/gateway/Homestead.json
/services/product/Homestead.json
/services/gateway/Homestead.yaml
/services/product/Homestead.yaml
/services/gateway/npm-debug.log
/services/product/npm-debug.log
/services/gateway/yarn-error.log
/services/product/yarn-error.log
/.idea
/.vscode
/services/mysql/data
